{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div align="center"><a href="/" title="URL Shortener">{% include "logo.twig" %}</a></div>
  <h1 align="center">URL Shortener</h1>
  
  <div class="well" align="center">
    <h1>404</h1>
  </div>
</div>

{% endblock %}